In [10]:
import numpy as np
import pandas as pd
from plotnine import *
from datetime import datetime

In [30]:
def sekundeid_südaööst(aeg: str):
    aeg = datetime.fromisoformat(aeg)
    return (aeg - aeg.replace(hour=0, minute=0)).total_seconds()

In [48]:
df = pd.read_csv('spioonid.csv')
df['päeva_sekund'] = df['kuupäev'].apply(sekundeid_südaööst)
df['nädal'] = df['kuupäev'].apply(lambda x: datetime.isocalendar(datetime.fromisoformat(x)).week)
df['söögigraafik_nädal'] = df['nädal'].apply(lambda x: x % 7)

df

                kuupäev  päeva_sekund  nädal  söögigraafik_nädal
0   2023-07-23T14:11:00       51060.0     29                   1
1   2023-07-23T17:30:00       63000.0     29                   1
2   2023-07-23T18:32:00       66720.0     29                   1
3   2023-07-23T21:34:00       77640.0     29                   1
4   2023-07-23T22:05:00       79500.0     29                   1
5   2023-07-24T19:45:00       71100.0     30                   2
6   2023-07-24T19:54:00       71640.0     30                   2
7   2023-07-26T19:07:00       68820.0     30                   2
8   2023-07-27T22:07:00       79620.0     30                   2
9   2023-07-27T22:13:00       79980.0     30                   2
10  2023-07-28T19:28:00       70080.0     30                   2
11  2023-07-28T21:23:00       76980.0     30                   2
12  2023-07-28T22:44:00       81840.0     30                   2
13  2023-07-28T22:47:00       82020.0     30                   2
14  2023-07-28T22:56:00       82560.0     30                   2
15  2023-07-28T23:03:00       82980.0     30                   2
16  2023-07-29T13:18:00       47880.0     30                   2
17  2023-07-29T13:44:00       49440.0     30                   2
18  2023-07-29T19:10:00       69000.0     30                   2
19  2023-07-30T20:23:00       73380.0     30                   2
20  2023-07-30T22:03:00       79380.0     30                   2
21  2023-07-31T16:54:00       60840.0     31                   3
22  2023-07-31T18:35:00       66900.0     31                   3
23  2023-07-31T18:36:00       66960.0     31                   3
24  2023-07-31T18:59:00       68340.0     31                   3
25  2023-08-01T18:50:00       67800.0     31                   3
26  2023-08-01T19:47:00       71220.0     31                   3
27  2023-08-01T19:49:00       71340.0     31                   3
28  2023-08-01T21:42:00       78120.0     31                   3
29  2023-08-02T21:22:00       76920.0     31                   3
30  2023-08-02T22:01:00       79260.0     31                   3
31  2023-08-03T16:58:00       61080.0     31                   3
32  2023-08-03T17:48:00       64080.0     31                   3
33  2023-08-03T18:52:00       67920.0     31                   3
34  2023-08-03T19:08:00       68880.0     31                   3
35  2023-08-03T19:30:00       70200.0     31                   3
36  2023-08-03T21:27:00       77220.0     31                   3
37  2023-08-03T22:03:00       79380.0     31                   3
38  2023-08-03T22:21:00       80460.0     31                   3